video{
    border: 2px solid white; border-radius: 10px;
}
body{
    background-color: rgb(202, 101, 101); color: white; font-size: 32px; font-family: 'Times New Roman', Times, serif; margin-left: 10px;
}
iframe{
    border: 2px solid white; border-radius: 10px;
}
h1, h2{
    text-shadow: 1px 1px 1px black;
}
p{
    color: yellow;
}
